body {
    /* font-family: Arial, sans-serif; */
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead{
    color: rgb(120, 120, 120);
    background-color: rgb(250, 243, 239);
    height: 3px;
    border-top: 2px solid rgb(160, 160, 160); /* 위쪽 선을 굵게 설정 */
}

tbody tr {
    height: 30px;
    
}

tbody td {
    color: rgb(150, 150, 150);
    text-align: left;
    line-height: 0.1;   /*행간 조정*/
    letter-spacing: 4;  /*자간 조정*/
    
    padding: 1px;
    padding-left: 7px;
}


th, td {
    text-align: center;
    font-size:x-small;

    min-width: 60px;
    border: 1px solid #ddd;
    padding: 5px;
}


.week {
    margin: auto;
    text-align: center;
}
.period {
    width: 50px;
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ededed;
}
